<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
    <bean id="CEOVisitor" class="model.CEOVisitor"/>
    <bean id="CTOVisitor" class="model.CTOVisitor"/>
    <bean id="report" class="model.BusinessReport">
        <property name="visitor" ref="CTOVisitor"/>
    </bean>

</beans>